# Rename this file to .env if it isn't already.

# The current Node environment.
#
# Required: Required
# Type:     String
# Values:   production | development
NODE_ENV=production

# Musebot primary functionality - if multiple APIs are integrated, this
# determines the main way Musebot can be interacted with. Is it a chat bot with
# media generation support, or is it a media generation bot with some LLM
# assistant features?
#
# * chat (for large language model integration)
# * media (for audio/images/video/etc.)
#
# Required: Required
# Type:     String
# Values:   chat | media
MUSEBOT_FUNCTION=

# The number of times to retry a failed task.
#
# Required: Optional
# Default:  10
# Type:     Integer
MUSEBOT_TASK_QUEUE_MAX_ATTEMPTS=10

# The task retry delay in milliseconds for when a task fails.
#
# Required: Optional
# Type:     Integer
# Default:  1000
MUSEBOT_TASK_QUEUE_RETRY_DELAY_MS=1000

# Musebot's task queue supports task channels that determine if two or more
# tasks can execute at the same time or not.
#
# If your system can handle executing both large language models (Ollama) *and*
# media generation (ComfyUI) at the same time, you can switch this setting
# to parallel. If both systems are running on the same host, this generally
# requires each system to have its own dedicated GPU hardware.
#
# Systems on separate hosts will execute in parallel always.
#
# Required: Optional
# Type:     String
# Default:  serial
# Values:   serial | parallel
MUSEBOT_TASK_QUEUE_STRATEGY=serial

# The Discord App Token used to authenticate as the bot you create in the
# Discord developer portal.
#
# Required: Required
# Type:     String
MUSEBOT_DISCORD_TOKEN=

# The Discord channel ID or a comma separated list of channel IDs the bot is
# allowed to reply in. If left blank, all channels will be allowed.
#
# Required: Optional
# Type:     Integer | Integer,Integer,Integer...
MUSEBOT_DISCORD_CHANNELS=

# The Discord channel ID or a comma separated list of channel IDs the bot is
# not allowed to reply in. If the bot is simultaneously allowed and disallowed
# to a channel, the disallowed rule takes precedence.
#
# Required: Optional
# Type:     Integer | Integer,Integer,Integer...
MUSEBOT_DISCORD_CHANNELS_DISALLOWED=

# Whether the the bot requires users to "@" mention them to reply.
#
# Required: Optional
# Type:     Boolean
# Default:  true
# Values:   true | false
MUSEBOT_REQUIRES_MENTION=true

# If MUSEBOT_REQUIRES_MENTION is false, what percentage of the time should it
# respond? Affects public responses only.
#
# Required: Optional
# Type:     Integer
# Default:  100
# Values:   1-100
MUSEBOT_RESPONSE_RATE=100

# Which users, if any, are allowed to message the bots privately? Ensure that
# this is the username *not* the display name. This is also case-sensitive.
#
# Required: Optional
# Type:     String | String,String,String
MUSEBOT_PRIVATE_MESSAGE_USERS=

# A custom error message to display when a render fails. Optional.
#
# Required: Optional
# Type:     String
# Default:  An error occurred while generating a response. Please try again
#           later.
MUSEBOT_ERROR_MESSAGE=

# Stable Diffusion Settings ####################################################
# These settings are only required if MUSEBOT_FUNCTION is set to "media".

# The base URL of the Stable Diffusion instance. This can also be a
# comma-separated list.
#
# Required: Required when MUSEBOT_FUNCTION=media
# Type:     URL | URL,URL,URL...
MUSEBOT_STABLE_DIFFUSION_HOSTS=

# Ollama Settings ##############################################################
# These settings are only required if MUSEBOT_FUNCTION is set to "chat".

# The base URL of the Ollama instance. This can also be a comma-separated list.
#
# Required: Required when MUSEBOT_FUNCTION=chat
# Type: URL | URL,URL,URL...
MUSEBOT_OLLAMA_HOSTS=

# The name of the large language model to use. This can also be a
# comma-separated list.
#
# Required: Required when MUSEBOT_FUNCTION=chat
# Type:     String | String,String,String...
MUSEBOT_OLLAMA_MODELS=

# The system prompt used to help give the large language model context or a
# custom persona.
#
# Required: Optional
# Type:     String
MUSEBOT_OLLAMA_SYSTEM_PROMPT=

# Whether Musebot can stream the Ollama response or not. This determines
# if the response shows up all at once at the end of a generation or batches
# of tokens at a time. This can make it seem like Musebot is typing in real
# time.
#
# Required: Optional
# Type:     Boolean
# Default:  false
# Values:   true | false
MUSEBOT_OLLAMA_STREAMS_RESPONSE=false

# Cross-capable Settings #######################################################

# If both the Stable Diffusion and Ollama APIs are available, this provides the
# LLM prompt for the randomize button for the LLM. This can also be a
# pipe-delimited list (|).
#
# Required: Optional
# Type:     String | String|String|String...
# Default:  Describe something or someone with extraordinary detail.
MUSEBOT_STABLE_DIFFUSION_OLLAMA_PROMPTS=
