# The current Node environment.
NODE_ENV=development

# Discord App Token
EASY_DIFFUSION_DISCORD_BOT_TOKEN=

# The Discord channel ID or a comma separated list of channel IDs. If left
# blank, all channels will be allowed.
EASY_DIFFUSION_DISCORD_BOT_CHANNELS=

# The base URL of the EasyDiffusion instance. This can also be a
# comma-separated list.
EASY_DIFFUSION_DISCORD_BOT_EASY_DIFFUSION_HOSTS=

# The relative path of the Stable Diffusion model to use without the file
# extension. This should look like "model_name" or "path/model_name". This can
# also be a comma-separated list.
EASY_DIFFUSION_DISCORD_BOT_EASY_DIFFUSION_MODELS=

# Whether the the bot requires users to "@" mention them to reply. true/false.
EASY_DIFFUSION_DISCORD_BOT_REQUIRES_MENTION=true
