# The current Node environment. Supported environments are:
#
# * production
# * development
NODE_ENV=development

# Musebot primary functionality - if multiple APIs are integrated, this
# determines the main way Musebot can be interacted with. Is it a chat bot with
# image generation support, or is it an image generation bot with some chat
# features?
#
# Current supported functions are:
#
# * text (for large language model integration)
# * images (for image generation)
MUSEBOT_FUNCTION=

# Discord App Token
MUSEBOT_DISCORD_TOKEN=

# The Discord channel ID or a comma separated list of channel IDs. If left
# blank, all channels will be allowed.
MUSEBOT_DISCORD_CHANNELS=

# Whether the the bot requires users to "@" mention them to reply. true/false.
MUSEBOT_REQUIRES_MENTION=true

# A custom error message to display when a render fails. This is optional.
MUSEBOT_ERROR_MESSAGE=

# The base URL of the EasyDiffusion instance. This can also be a
# comma-separated list.
MUSEBOT_EASY_DIFFUSION_HOSTS=

# The relative path of the Stable Diffusion model to use without the file
# extension. This should look like "model_name" or "path/model_name". This can
# also be a comma-separated list. If left blank, a random model will be selected
# per requested render.
MUSEBOT_EASY_DIFFUSION_MODELS=

# The base URL of the Ollama instance. This can also be a comma-separated list.
MUSEBOT_OLLAMA_HOSTS=

# The name of the large language model to use. This can also be a
# comma-separated list. If left blank, a random model will be selected per
# response.
MUSEBOT_OLLAMA_MODELS=
