# Backup Files
*.bak

# Build Files
build/
Code Review.md
*.js

# Caches
.parcel-cache/

# Configuration Files
.env*
config.json
config.jsonc

# Package Management
node_modules/

# Unit Test Coverage
coverage/

# Testing Workflows
workflows/img2img/
workflows/img2vid/
workflows/txt2audio/
workflows/txt2img/
workflows/txt2music/
workflows/txt2vid/
