# Backup Files
*.bak

# Build Files
build/
Code Review.md
*.js

# Caches
.parcel-cache/

# Configuration Files
.env*
config.json
config.jsonc

# Package Management
node_modules/

# Unit Test Coverage
coverage/

# Testing Workflows
# workflows/production should be included.
workflows/
